.form {
    display: flex;
    justify-content: center;
    align-items: center;
    

    input {
        border: none;
        border-bottom: 1px solid black;
    }
    
    button {
        margin: 1%;
        padding: 10px 20px;
        &:hover {
            border: 1px solid black;
        }
    }

}